<html>
  <head>
    <title>Team page on flexbox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="bg-image"></div>
    <center>
    <img src="Team-text.png">
</center>
    
      <div class="flex-container">
        <div class="team1">
          <img class="image-team" src="https://c4.wallpaperflare.com/wallpaper/430/578/336/anarchy-anonymous-binary-code-wallpaper-preview.jpg" />
          <img class="avatar" src="team1.jpg" />
          <h1 class="name">K.Sai Ranganadh</h1>
          <h2 class="position">Web Developer</h2>
          <button class="btn-signup">Sign Up Now</button>
        </div>
       
        <div class="team3">
          <img class="image-team" src="https://c4.wallpaperflare.com/wallpaper/274/323/713/code-php-html-ilya-pavlov-wallpaper-preview.jpg" />
          <img class="avatar" src="https://mywebgraphicdesign.com/team-page-on-flexbox-template/avatar.png" />
          <h1 class="name">CH.Gopi Krishna</h1>
          <h2 class="position">Web Developer</h2>
          <button class="btn-signup">Sign Up Now</button>
        </div>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
  </body>
</html>
