<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home2.css')}}">
       
</head>
<body style="background-color: rgb(255, 255, 255);">
    <div class="slider">
        <div class="load">
        </div>
        <div class="content">
            <div class="principal">
              <img src="{{url_for('static',filename='images/mainn.png')}}">

            <p style="color: rgb(255, 255, 255);">book ur car now</p>
            <img src="">
            </div>

        </div>
    </div>
    <div>
      <br>
      <br><br><br>
        <div class="container2">
            <div class="box1">
                <img src="https://i.postimg.cc/rwbMzvRw/2.jpg" alt="">
            </div>
            <div class="box2">
                <div class="line">
    
                </div>
                <h3>Best Car</h3>
                <h5>SERVICE</h5>
                <p>A regular service schedule can help keep your car running at it’s best. A regular service schedule can
                    help keep your car running at it’s best.</p>
                <div class="btn">
                    <a href="#">READ MORE</a>
                </div>
            </div>
    
        </div>
    </div>
   <div">
    <marquee direction="left" scrollamount="5" scrolldelay="50" behavior="scroll">
      <img style="width: 250px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo1.png')}}">
      <img style="width: 220px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo2.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo3.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo4.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo5.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo6.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo7.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo8.png')}}">
      <img style="width: 200px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo9.png')}}">
      <img style="width: 300px; height: 150px; padding-right: 30px;" src="{{url_for('static',filename='images/logo10.png')}}">
      
      
    </marquee>
   </div>
    <div class="main-heading">
      <center>
      <h1 class="rent-heading" style="background-color: bisque;">RENT THE CAR</h1>
      <center>
  <div class="main" style="background-color: bisque;">
      <div class="container3">
          <div class="wrapper">
              <div class="banner-image" style="background-image: url(https://carsemsar.s3.amazonaws.com/cars/2022/11/02/8336950427784091/63625a99218668.65779278/photo-sm.jpg);"></div>
            <h1 class="heading1"> Toyota Supra</h1>
            <p class="para">Lorem ipsum dolor sit amet, <br/>
              consectetur adipiscing elit.</p>
           </div>
           <div class="button-wrapper"> 
            <a href="{{url_for('rental')}}">
           <button class="btn outline">DETAILS</button>
             <button class="btn fill">RENT NOW</button></a>
           </div>
             </div>
             <div class="container3">
              <div class="wrapper">
                  <div class="banner-image" style="background-image: url(https://m.economictimes.com/thumb/msid-79933399,width-1200,height-900,resizemode-4,imgsize-97551/honda-civic-1.jpg);"> </div>
                <h1 class="heading1"> HUNDAI</h1>
                <p class="para">Lorem ipsum dolor sit amet, <br/>
                  consectetur adipiscing elit.</p>
               </div>
               <div class="button-wrapper"> 
               <button class="btn outline">DETAILS</button>
                 <button class="btn fill">RENT NOW</button>
               </div>
                 </div>
                 <div class="container3">
                  <div class="wrapper">
                      <div class="banner-image" style="background-image: url(https://images.pistonheads.com/nimg/43341/mercedes-benz-amg-gt-r-pro-495219319-1.jpg);"> </div>
                    <h1 class="heading1"> BENZ</h1>
                    <p class="para">Lorem ipsum dolor sit amet, <br/>
                      consectetur adipiscing elit.</p>
                   </div>
                   <div class="button-wrapper"> 
                   <button class="btn outline">DETAILS</button>
                     <button class="btn fill">RENT NOW</button>
                   </div>
                     </div>
                     <div class="container3">
                      <div class="wrapper">
                          <div class="banner-image" style="background-image: url(https://i.pinimg.com/564x/c2/a1/9a/c2a19a8cf108c4aaf87708bb4be208bf--vertical-doors-audi-cars.jpg);"> </div>
                        <h1 class="heading1"> AUDI</h1>
                        <p class="para">Lorem ipsum dolor sit amet, <br/>
                          consectetur adipiscing elit.</p>
                       </div>
                       <div class="button-wrapper"> 
                       <button class="btn outline">DETAILS</button>
                         <button class="btn fill">RENT NOW</button>
                       </div>
                         </div>
              </div>
                   
                 </div>
          </div>
                </div>
             </div>
          </div>
            </div>
         </div>
  </div>
        </div>
      </div>
  </div>
      <div style="background-color: bisque;">

  <div  class="main"style="background-color: bisque;" >
      <div class="container3">
          <div class="wrapper">
              <div class="banner-image" style="background-image: url(https://www.drivespark.com/wallimg/360x80/photos/2019-jeep-compass/2019_jeep_compass_02.jpg);"> </div>
            <h1 class="heading1">ZEEP</h1>
            <p class="para">Lorem ipsum dolor sit amet, <br/>
              consectetur adipiscing elit.</p>
           </div>
           <div class="button-wrapper"> 
           <button class="btn outline">DETAILS</button>
             <button class="btn fill">RENT NOW</button>
           </div>
             </div>
             <div class="container3">
              <div class="wrapper">
                  <div class="banner-image" style="background-image: url(https://i.pinimg.com/originals/4e/3f/a8/4e3fa8512086ef248bc876c481a11e09.jpg);"></div>
                <h1 class="heading1"> KIA</h1>
                <p class="para">Lorem ipsum dolor sit amet, <br/>
                  consectetur adipiscing elit.</p>
               </div>
               <div class="button-wrapper"> 
               <button class="btn outline">DETAILS</button>
                 <button class="btn fill">RENT NOW</button>
               </div>
                 </div>
                 <div class="container3">
                  <div class="wrapper">
                    <div class="banner-image" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6wXI2JeXnxdqp4AB_fya8BpKtpxGRW16eNW5qCRPh3A&usqp=CAU&ec=48600112);"> </div>
                    <h1 class="heading1"> Mahendra</h1>
                    <p class="para">Lorem ipsum dolor sit amet, <br/>
                      consectetur adipiscing elit.</p>
                   </div>
                   <div class="button-wrapper"> 
                   <button class="btn outline">DETAILS</button>
                     <button class="btn fill">RENT NOW</button>
                   </div>
                     </div>
                     <div class="container3">
                      <div class="wrapper">
                        <div class="banner-image" style="  background-image: url(https://images.news18.com/ibnlive/uploads/2022/11/tata-nexon-new-1.jpg);" > 
                        </div>
                        <h1 class="heading1"> Tata Nexon</h1>
                        <p class="para">Lorem ipsum dolor sit amet, <br/>
                          consectetur adipiscing elit.</p>
                       </div>
                       <div class="button-wrapper"> 
                       <button class="btn outline">DETAILS</button>
                         <button class="btn fill">RENT NOW</button>
                       </div>
                         </div>
             
                    </div>
                 </div>
          </div>
                </div>
             </div>
          </div>
            </div>
         </div>
  </div>
        </div>
      </div>
  </div>
</div>
</center>
</div>
</div>
    <div class="heading">
        <h1 style="padding-top: 100px; padding-bottom: 60px;">Best Places To Explore With Family</h1>
    </div>
    <br>
    <center>
    <div class="container">
        <div
            class="slide1"
            style="background-image: url('images/vac1.avif');"
        >
          <h3>BMW</h3>
        </div>
        <div
            class="slide1"
            style="
                background-image: url('images/vac2.avif');
              "
        >
          <h3>Benz</h3>
        </div>
        <div
            class="slide1"
            style="
                background-image: url('images/vac3.avif');
              "
        >
          <h3>Hyundai</h3>
        </div>
        <div
            class="slide1 active"
            style="
                background-image: url('images/vac5.jpg');
              "
        >
          <h3>Toyota</h3>
        </div>
        <div
            class="slide1"
            style="
                background-image: url('images/vac4.jpg');
              "
        >
          <h3>Bugatti</h3>
        </div>
      </div>
      </center>
      <center>
        
       

      <script>
              const slides = document.querySelectorAll('.slide1')
      
      slides.forEach((slide1) => {
          slide1.addEventListener('click', () => {
              clearActiveClasses()
              slide1.classList.add('active')
          })
      })
      
      function clearActiveClasses() {
          slides.forEach((slide1) => {
              slide1.classList.remove('active')
          })
      }
      </script>

</body>
</html>