<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='newpassword.css')}}">
</head>
<body>
    <center>
        <section>
            <div class="login-box">
        
                <form method="POST">
                    <h2>New Password</h2>
                    <div class="input-box">
                        <span class="icon"><ion-sicon name="lock-closed"></ion-icon></ion-icon></span>
                        <input type="password" name="npassword" maxlength="30" required>
                        <label>Mobile</label>
                    </div>
                    <h2>Confirm Password</h2>
                    <div class="input-box">
                        <span class="icon"><ion-sicon name="lock-closed"></ion-icon></ion-icon></span>
                        <input type="password" name="cpassword" maxlength="30" required>
                        <label>Mobile</label>
                    </div>
                   <button type="submit">submit</button>
        
                    
                </form>
            </div>
        </section>
        
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </center>
</body>
</html>








